body{
    background-image: url("./img/back.jpg");
    background-repeat: repeat-x;
    background-size: cover;
}

#body_cont{
    margin-left: 25vw;
    width: 50vw;
    padding: 3px;
    font-size: 20px;
    text-align: center;
    position: absolute;
}

.title{
    width: 98.5%;
    height: 100%;
    vertical-align: middle;
    background-color: rgb(255, 134, 215); 
    border: 5px solid rgb(126, 0, 94); 
}

.title h2{
    top: 0px;
    left: 35%;
    text-align: center;
    font-size: 40px;
    position: absolute;
}

.menu_button{
    height: 80px;
    width: 80px;
    cursor: pointer;
    background-color: rgb(255, 148, 219); 
    border-right:5px solid rgb(126, 0, 94); 
    border-top: none;
    border-left: none;
    border-bottom: none;
}

.button_img{
    max-width: 100%;
    max-height: 100%;
}

#menu{
    display: none;
    width: auto;
    position: absolute;
    z-index: 9;
}


#menu button{
    background-color: rgb(255, 49, 186); 
    border: 1px solid rgb(126, 0, 94); 
    color: rgb(255, 255, 255); 
    padding: 10px 24px; 
    cursor: pointer;
    width: 50%; 
    display: block; 
}

#menu button:hover{
    background-color: rgb(182, 0, 121); 
}