<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Underground shop</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="myStyle.css">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body style="padding-top: 110px;">
        <header>
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="index.html">
                    <img src="img/logo.png" alt="" width="80" height="64" class="d-inline-block align-middle">
                    Uderground shop
                  </a>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="categories.html">Categories</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </header>

        <!-- PAGE TITLE -->
        <div class="pageTitle"><b>Music</b></div>

        <div id="underHeader">
          <div id="app">

            <!-- SORT MENU -->
            <div class="dropdown">
              <button class="dropbtn">Sort by</button>
              <div class="dropdown-content">
                <p @click="sortProductsBy('price', 'asc')">price (ascendent)</p>
                <p @click="sortProductsBy('price', 'desc')">price (descendent)</p>
                <p @click="sortProductsBy('band' , 'asc')">band (ascendent)</p>
                <p @click="sortProductsBy('band', 'desc')">band (descendent)</p>
                <p @click="sortProductsBy('stock', 'asc')">stock (ascendent)</p>
                <p @click="sortProductsBy('stock', 'desc')">stock (descendent)</p>
                <p @click="sortProductsBy('year', 'asc')">year (ascendent)</p>
                <p @click="sortProductsBy('year', 'desc')">year (descendent)</p>
              </div>
            </div>
            <div class="row row-cols-1 row-cols-md-4 g-4">
              <div class="col mb-3" v-for="(product, index) in products">
                <div class="card h-100" style="width: 17rem; background-color: rgba(150, 150, 150, 0.8);">
                  <img class="card-img-top img-fluid" :src="product.pictures" style="height: 16rem; object-fit: cover;">
                  <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text mb-1">{{ product.band }}</p>
                    <button type="button" class="btn btn-dark" data-toggle="modal" :data-target="'#exampleModal-' + index">
                      <i>info</i>
                    </button>
                    <div class="modal fade" :id="'exampleModal-' + index" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content bg-fusion-900 text-white">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ product.name }}</h5>
                          </div>
                          <div class="modal-body">
                            <p class="card-text mb-2"><b>Band</b>: {{ product.band }}</p>
                            <p class="card-text mb-2">
                              <b>Tracklist</b>: 
                              <ol>
                                <li v-for="(title, index) in product.tracklist">
                                  {{ title }} 
                                </li>
                              </ol>
                            </p>
                            <p class="card-text mb-2"><b>Price</b>: {{ product.price }}$</p>
                            <p class="card-text mb-2"><b>Stock</b>: {{ product.stock }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
        <script src="app_music.js"></script>  
    </body>
</html>