body{
    background-image: url(img/backscreen.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.pageTitle{
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
    font-size: 80px;
    text-align: center;   
    margin-bottom: 30px; 
}

#underHeader{
    width: 97vw;
}

#app{
    margin-left: 3%;
}

.img_btn_div {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  /* Make the image responsive */
  .img_btn_div img {
    object-fit: cover;
    width: 100%;
    height: 90vh;
  }

.modal-backdrop {
    background-color: rgb(29, 0, 0);
}

.modal-content {
    background-color: rgb(71, 71, 71);
}
  
#music_text{
    background-color: #b10000ad;
    color: rgb(255, 255, 255);
}

#music_btn{
    background-color: #b10000ad;
    color: rgb(255, 255, 255);
}

#music_btn:hover{
    background-color: #b10000;
    color: rgb(255, 255, 255);
}

#clothing_text{
    background-color: #00ce67ad;
    color: rgb(255, 255, 255);
}

#clothing_btn{
    background-color: #00ce67ad;
    color: rgb(255, 255, 255);
}

#clothing_btn:hover{
    background-color: #00ce67;
}


#accessories_text{
    background-color: #00ce67ad;
    color: rgb(255, 255, 255);
}

#accessories_btn{
    background-color: #00ce67ad;
    color: rgb(255, 255, 255);
}

#accessories_btn:hover{
    background-color: #00ce67;
}


  .img_btn_div .categories_inner_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    text-align: center;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
  }

  /* Style the button and place it in the middle of the container/image */
  .img_btn_div .btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

/* Style The Dropdown Button */
.dropbtn {
    background-color: #a7a7a7;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-size: 13px;
    min-width: 160px;
    box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content p {
    color: black;
    /* padding: 1opx 13px; */
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content p:hover {background-color: #c5c3c3}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3a3a3a;
  }